<script>
	import { enhance } from '$app/forms';

	export let form;
	let measure = 'us';
	const toggleMeasures = () => {
		if (measure === 'us') measure = 'metric';
		else measure = 'us';
	};
</script>

<div class="level">
	<h2 class="subtitle is-2 level-item">Welcome to Recipe Extractor</h2>
</div>
<p class="subtitle is-5">
	Recipes are often found on blogs with lots of text, ads and other irrelevant data making it
	difficult to get the actual recipe in a simple format. Recipe extractor accepts a url to a page
	with a recipe and extracts only the relevant information and presents it in an easy to digest
	format.
</p>
<p class="subtitle is-5">
	Please paste a url for a page containing a recipe below and we will extract the data
</p>

<div class="block">
	<form method="POST" use:enhance>
		<div class="field">
			<label class="label" for="url">Recipe link</label>
			<input class="input" type="text" id="url" name="url" required />
		</div>
		<div class="field">
			<button type="submit" class="button is-primary">Extract Recipe</button>
		</div>
	</form>
</div>

{#if form}
	{#if form.error}
		<p class="has-text-danger">{form.error}</p>
	{:else}
		<div class="columns is-vcentered">
			<div class="control column is-one-quarter">
				<h3>Measurements</h3>
				<label class="radio">
					<input type="radio" name="measure" checked on:click={toggleMeasures} />
					Imperial
				</label>
				<label class="radio">
					<input type="radio" name="measure" on:click={toggleMeasures} />
					Metric
				</label>
			</div>
			<div class="control column is-one-quarter">
				<button class="button" on:click={() => window.print()}>Print</button>
			</div>
		</div>

		<div class="print_this" id="recipe">
			<h1 class="subtitle is-2">{form.title}</h1>
			<div class="columns">
				<div class="column">
					<h2 class="subtitle is-4 mb-3">Time:</h2>
					<div class="columns">
						<div class="column">
							<h3 class="subtitle is-5 m-0">Preparation Time:</h3>
							<p>{form.preparationMinutes} minutes</p>
						</div>
						<div class="column">
							<h3 class="subtitle is-5 m-0">Cooking Time:</h3>
							<p>{form.cookingMinutes} minutes</p>
						</div>
						<div class="column">
							<h3 class="subtitle is-5 m-0">Total Time:</h3>
							<p>{form.readyInMinutes} minutes</p>
						</div>
					</div>
				</div>
				<div class="column">
					<h2 class="subtitle is-4 mb-3">Servings:</h2>
					<p>{form.servings} servings</p>
				</div>
			</div>
			<div class="columns">
				<div class="column">
					<div class="content">
						<h2 class="subtitle is-4">Ingredients:</h2>
						<ul>
							{#each form.extendedIngredients as ingredient}
								<li>
									{ingredient.measures[measure].amount}
									{ingredient.measures[measure].unitShort}
									{ingredient.originalName}
								</li>
							{/each}
						</ul>
					</div>
					<div class="content">
						<h2 class="subtitle is-4">Instructions</h2>
						<ol>
							{#each form.analyzedInstructions[0].steps as instruction}
								<li>{instruction.step}</li>
							{/each}
						</ol>
					</div>
				</div>
				<div class="column">
					<img src={form.image} alt={form.title} />
				</div>
			</div>
		</div>
	{/if}
{/if}
