/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */ /* Import only what you need from Bulma */
@import 'bulma/sass/utilities/_all';
@import 'bulma/sass/base/_all';
@import 'bulma/sass/elements/_all';
@import 'bulma/sass/form/_all';
@import 'bulma/sass/components/_all';
@import 'bulma/sass/grid/_all';
@import 'bulma/sass/helpers/_all';
@import 'bulma/sass/layout/_all';

body {
  min-height: 100vh;
  background-color: #f3f3f3;
  color: #2c3e50;
  padding-bottom: 1.5em;
}

.navbar {
  background-color: #e3e3e3;
  padding-top: 1em;
  padding-bottom: 1.5em;
}

@media print {
  body * { visibility: hidden; }
  .print_this, .print_this * {
      visibility:visible;
  }
  .print_this {
    position: absolute;
    left: 0;
    top: 0;
  }
}